{$DOMAIN}:{$PORT}
root {$BASEDIR}
gzip

# Minify all the supported files on the website
minify
fastcgi / {$PHP_FPM}:9000 php {
    root /var/www/html
}

# Setup a minimal cache control for a few files
expires {
    match .css$ 2d
    match .woff$ 7d
    match .png$ 2d
    match .jpg$ 2d
    match .gif$ 2d
    match .pdf$ 2h
    match .txt$ 2h
    match .js$ 1h
    match .html$ 5i
    match .php$ 2i
}
